@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #454545;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 85%;
  height: 95%;
  border: 1px solid #f1f6f9;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

header .side-menu,
.side-songs {
  position: relative;
  width: 25%;
  height: 90%;
  /* border: 1px solid #f1f6f9; */
  background-color: #212a3e;
  box-shadow: 5px 0px 2px #9ba4b5;
  color: #f1f6f9;
}

header .side-songs {
  width: 75%;
  background: #001c30;
}

header .side-play {
  width: 100%;
  height: 10%;
  background: #212a3e;
  box-shadow: 8px 3px 8px #212a3e;
}

header .side-menu h1 {
  font-size: 20px;
  margin: 15px 0px 0px 20px;
  font-weight: 500;
}

header .side-menu .playlist {
  margin: 40px 0px 0px 20px;
}
header .side-menu .playlist h4 {
  font-size: 14px;
  font-weight: 400px;
  padding-bottom: 10px;
  color: #9ba4b5;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.3s linear;
}

header .side-menu .playlist h4:hover {
  color: #fff;
}

header .side-menu .playlist h4 span {
  position: relative;
  margin-right: 35px;
}

header .side-menu .playlist h4 span::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border: 2px solid #9ba4b5;
  border-radius: 50%;
  top: -4px;
  transition: 0.3s linear;
}

header .side-menu .playlist h4:hover span::before {
  border: 2px solid #9ba4b5;
}

header .side-menu .playlist h4 .bi {
  display: none;
}

header .side-menu .playlist .active {
  color: #36e2ec;
}

header .side-menu .playlist .active span {
  display: none;
}

header .side-menu .playlist .active .bi {
  display: flex;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  color: #36e2ec;
}

header .side-menu .song-menu {
  width: 100%;
  height: 300px;
  /* border: 1px solid #fff; */
  margin-top: 40px;
}

header .side-menu .song-menu li {
  position: relative;
  list-style-type: none;
  padding: 5px 0px 5px 20px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s linear;
}

header .side-menu .song-menu li:hover {
  background: rgb(105, 105, 170, 0.1);
}

header .side-menu .song-menu li span {
  font-size: 12px;
  font-weight: 600;
  color: #9db2bf;
}

header .side-menu .song-menu li img {
  width: 32px;
  height: 32px;
  margin-left: 25px;
}

header .side-menu .song-menu li h5 {
  font-size: 11px;
  margin-left: 15px;
}

header .side-menu .song-menu li h5 .subtitle {
  font-size: 9px;
  color: #9db2bf;
}

header .side-menu .song-menu li .bi {
  position: absolute;
  right: 15px;
  top: 7px;
  font-size: 20px;
}

header .side-play {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

header .side-play .wave {
  width: 30px;
  height: 30px;
  /* border: 1px solid #fff; */
  padding-bottom: 5px;
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
}

header .side-play .wave .wave1 {
  width: 3px;
  height: 3px;
  margin-right: 3px;
  border-radius: 10px 10px 0px 0px;
  background: #36e2ec;
  animation: unset;
}

header .side-play .wave .wave1:nth-child(2) {
  height: 13px;
  animation-delay: 0.4s;
}
header .side-play .wave .wave1:nth-child(3) {
  height: 8px;
  animation-delay: 0.8s;
}

/* javascript class wave */
header .side-play .active2 .wave1 {
  animation: wave 0.5s linear infinite;
}

header .side-play .active2 .wave1:nth-child(2) {
  animation-delay: 0.4s;
}
header .side-play .active2 .wave1:nth-child(3) {
  animation-delay: 0.8s;
}

@keyframes wave {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
}

header .side-play img {
  width: 35px;
  height: 35px;
}

header .side-play h5 {
  width: 130px;
  font-size: 13px;
  margin-left: 15px;
  color: #fff;
  line-height: 17px;
}

header .side-play h5 .subtitle {
  font-size: 11px;
  color: #9db2bf;
}

header .side-play .icon {
  font-size: 20px;
  color: #fff;
  margin: 0px 20px 0px 40px;
}

header .side-play .icon .bi {
  cursor: pointer;
  outline: none;
}

header .side-play .icon .bi:nth-child(2) {
  border: 1px solid rgb(105, 105, 170, 0.1);
  border-radius: 50%;
  padding: 1px 3px 0px 6px;
  margin: 0px 5px;
  transition: 0.3s linear;
}

header .side-play span {
  color: #fff;
  width: 32px;
  font-size: 11px;
  font-weight: 400;
}

header .side-play #currentStart {
  margin: 0px 0px 0px 20px;
}

header .side-play .bar {
  position: relative;
  width: 43%;
  height: 2px;
  background: rgb(105, 105, 170, 0.1);
  margin: 0px 15px 0px 10px;
}

header .side-play .bar .bar2 {
  position: absolute;
  background: #36e2ec;
  width: 0%;
  height: 100%;
  top: 0;
}

header .side-play .bar .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}

header .side-play .bar .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}

header .side-play .bar input {
  position: absolute;
  width: 100%;
  top: -6px;
  left: 0;
  cursor: pointer;
  z-index: 99999999;
  transition: 3s linear;
  opacity: 0;
}

header .side-play .vol {
  position: relative;
  width: 100px;
  height: 2px;
  margin-left: 50px;
  background: rgb(105, 105, 170, 0.1);
}

header .side-play .vol .bi {
  position: absolute;
  color: #fff;
  font-size: 25px;
  top: -17px;
  left: -30px;
}

header .side-play .vol input {
  position: absolute;
  width: 100%;
  top: -10px;
  left: 0;
  cursor: pointer;
  z-index: 99999999;
  transition: 3s linear;
  opacity: 0;
}

header .side-play .vol .vol-bar {
  position: absolute;
  background: #36e2ec;
  width: 0%;
  height: 100%;
  top: 0;
}

header .side-play .vol .dot {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #36e2ec;
  border-radius: 50%;
  left: 0%;
  top: -1px;
  transition: 1s linear;
}

header .side-play .vol .dot::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #36e2ec;
  border-radius: 50%;
  left: -6px;
  top: -6px;
  box-shadow: inset 0px 0px 3px #36e2ec;
}

header .side-songs {
  z-index: 2;
}

header .side-songs::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 300px;
  float: right;
  margin: 0 0 10px 10px;
  background: url("asset/jessieJ.png");
  z-index: -1;
}

header .side-songs nav {
  width: 90%;
  height: 10%;
  margin: auto;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .side-songs nav ul {
  display: flex;
}

header .side-songs nav ul li {
  position: relative;
  list-style-type: none;
  font-size: 13px;
  color: #9db2bf;
  margin-right: 25px;
  cursor: pointer;
  transition: 0.3s linear;
}

header .side-songs nav ul li:hover {
  color: #fff;
}

header .side-songs nav ul li:nth-child(1) {
  color: #fff;
}

header .side-songs nav ul li span {
  position: absolute;
  width: 100%;
  height: 2.5px;
  background: #36e2ec;
  bottom: -5px;
  left: 0;
  border-radius: 20px;
}

header .side-songs nav .search {
  position: relative;
  width: 40%;
  padding: 1px 10px;
  border-radius: 20px;
  color: gray;
}

header .side-songs nav .search::before {
  content: "";
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  background: rgb(184, 184, 184, 0.1);
  backdrop-filter: blur(5px);
  z-index: -1;
}

header .side-songs nav .search .bi {
  font-size: 13px;
  padding: 3px 0px 0px 10px;
}

header .side-songs nav .search input {
  background: none;
  outline: none;
  border: none;
  padding: 0px 10px;
  color: #fff;
  font-size: 12px;
}

header .side-songs nav .user {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

header .side-songs nav .user img {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 2px 8px 8px #131313;
}

header .side-songs .content {
  width: 90%;
  height: 30%;
  margin: auto;
  /* border: 1px solid #fff; */
  padding-top: 20px;
}

header .side-songs .content h1 {
  font-size: 25px;
  font-weight: 600;
}

header .side-songs .content p {
  font-size: 11px;
  font-weight: 400;
  color: #9db2bf;
  margin: 5px;
}

header .side-songs .content .buttons {
  margin-top: 15px;
}

header .side-songs .content .buttons button {
  width: 130px;
  height: 30px;
  border: 2px solid #36e2ec;
  outline: none;
  border-radius: 20px;
  background: #36e2ec;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
}

header .side-songs .content .buttons button:hover {
  border: 2px solid #36e2ec;
  background: none;
  color: #36e2ec;
}

header .side-songs .content .buttons button:nth-child(2) {
  border: 2px solid #36e2ec;
  background: none;
  color: #36e2ec;
}
header .side-songs .content .buttons button:nth-child(2):hover {
  border: 2px solid #36e2ec;
  background: #36e2ec;
  color: #fff;
}

header .side-songs .popular-song {
  width: 90%;
  height: auto;
  /* border: 1px solid #fff; */
  margin: auto;
  margin-top: 15px;
}

header .side-songs .popular-song .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .side-songs .popular-song .h4 .bi {
  color: #9db2bf;
  cursor: pointer;
  transition: 0.3s linear;
}

header .side-songs .popular-song .h4 .bi:hover {
  color: #fff;
}

header .side-songs .popular-song .pop-song {
  width: 100%;
  height: 150px;
  margin-top: 15px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

header .side-songs .popular-song .pop-song::-webkit-scrollbar {
  display: none;
}

header .side-songs .popular-song .pop-song li {
  min-height: 100px;
  height: 140px;
  list-style-type: none;
  margin-right: 10px;
  transition: 0.3s linear;
}

header .side-songs .popular-song .pop-song li:hover {
  background: rgb(105, 105, 170, 0.1);
}

header .side-songs .popular-song .pop-song li .img-play {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .side-songs .popular-song .pop-song li .img-play img {
  width: 100%;
  height: 100%;
}

header .side-songs .popular-song .pop-song li .img-play .bi {
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s linear;
  opacity: 0;
}

header .side-songs .popular-song .pop-song li .img-play:hover .bi {
  opacity: 1;
}

header .side-songs .popular-song .pop-song li h5 {
  padding: 5px 0px 0px 5px;
  line-height: 15px;
  font-size: 10px;
}

header .side-songs .popular-song .pop-song li h5 .subtitle {
  font-size: 9px;
  color: #9db2bf;
}

header .side-songs .popular-artists {
  width: 90%;
  height: auto;
  /* border: 1px solid #fff; */
  margin: auto;
  margin-top: 15px;
}

header .side-songs .popular-artists .h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .side-songs .popular-artists .h4 .bi {
  color: #9db2bf;
  cursor: pointer;
  transition: 0.3s linear;
}

header .side-songs .popular-artists .h4 .bi:hover {
  color: #fff;
}

header .side-songs .popular-artists .item {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

header .side-songs .popular-artists .item::-webkit-scrollbar {
  display: none;
}

header .side-songs .popular-artists .item li {
  list-style-type: none;
  position: relative;
  height: 60px;
  min-width: 60px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

header .side-songs .popular-artists .item li img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}
